@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    background: hsl(36, 100%, 99%);
    width: 85%;
    margin: 2em auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
.container .head{
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: hsl(240, 100%, 5%);
}
.container .head span{
    font-weight: 700;
    font-size: 3rem;
}
.head .menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    font-size: 15px;
    transition: .3s all ease;
}
.head .menu ul li:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
main{
    grid-column: span 2;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(2,1fr);
}
main img{
    grid-column: span 2;
    max-width: 100%;
    height: 300px;
}
main h1{
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    font-size: 2.7rem;
}
main .section__new p{
    font-size: 15px;
    color: hsl(236, 13%, 42%);
    line-height: 1.5rem;
}
main .section__new button{
    margin: 1.5rem 0;
    color: #fff;
    background:hsl(5, 85%, 63%);
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    transition: .3s all ease;
}
main .section__new button:hover{
    background:  hsl(240, 100%, 5%);
}
.container .article{
    display: flex;
    flex-direction: column;
    background: hsl(240, 100%, 5%);
    color: #fff;
    gap: 1rem;
    padding: 1rem;
}
.container .article .title h2{
    color:  hsl(35, 77%, 62%);
    font-size: 2.5rem;
    margin: 1rem 0;
}
.container .article .content__new{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem ;
}
.content__new .article__news{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid hsl(236, 13%, 42%);
    padding-bottom: 2rem;
}
.content__new .article__news h3:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
.content__new .article__news:nth-child(3){
    border-bottom: none;
}
.content__new .article__news span{
    color: hsl(233, 8%, 79%);
}
.container .related__post{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.related__post img{
    width: 200px;
    height: 150px;
}
.related__post .content__related_post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    font-size: 15px;
}
.content__related_post h2{
    color: hsl(233, 8%, 79%);
    font-size: 30px;
}
.content__related_post h3{
    color: hsl(236, 13%, 42%);
}
.content__related_post h3:hover{
    color:hsl(5, 85%, 63%) ;
    cursor: pointer;
}
.content__related_post span{
    color: hsl(236, 13%, 42%);
    line-height: 1.5rem;
}

@media screen and (max-width: 375px){
   
    .container{
        width: 90%;
    }
    .container .menu{
        display: none;
    }
    main{
       grid-column: 1/-1;
    }
    main img{
        grid-column: span 2;
    }
    main h1{
        grid-column: span 2;
    }
    main .section__new {
        grid-column: span 2;
    }
    .container .article{
      grid-column: 1/-1;
    }
    .container .related__post{
        grid-column: 1/-1;
    }
}
@media screen and (max-width: 760px){
   
    .container{
        width: 90%;
    }
    .container .menu{
        display: none;
    }
    main{
       grid-column: 1/-1;
    }
    main img{
        grid-column: span 2;
    }
    main h1{
        grid-column: span 2;
    }
    main .section__new {
        grid-column: span 2;
    }
    .container .article{
      grid-column: 1/-1;
    }
    .container .related__post{
        grid-column: 1/-1;
    }
}